/* Global */

body {
	font-family: 'Roboto', sans-serif;
	background-color: #e0e0e0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	margin: 64px 0 0 0;
}

/* Appbar / Header */

.appbar {
	height: 64px;
	width: 100%;
	background: #037ed3;
	box-shadow: none;
	position: fixed;
	top: 0;
	-webkit-user-select: none;
	user-select: none;
	z-index: 50;
	transition: none;
}

body.scrolling .appbar {
	box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.14), 0 10px 10px -9px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.4);
	transition: box-shadow .2s ease .125s;
}

.appbar .appname {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	height: 64px;
	line-height: 64px;
	padding-left: 24px;
}

.tabs {
	margin: auto;
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.tabs > .tab {
	height: 64px;
	line-height: 64px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, .7);
	box-sizing: border-box;
	padding: 0 12px;
	display: inline-block;
	transition: color .1s ease;
	margin: 0 12px 0 0;
}

.tabs > .tab.active {
	color: #fff;
	border-bottom: 2px solid #fafafa;
}

.tabs > .tab:hover {
	color: #fff;
}

/* Waterfall */
.waterfall {
	height: 0;
	width: 100%;
	position: absolute;
	top: 64px;
	background: #037ed3;
	z-index: -1;
	transition: height .2s ease;
}
body:not(.scrolling) .waterfall {
	height: 192px;
}

/* Main */
.main {
	margin: 0 24px 24px 24px;
}

/* Cards */
.card {
	max-width: 1200px;
	margin: auto;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	padding: 24px;
	box-sizing: border-box;
}

.subheader {
	max-width: 1200px;
	margin: auto;
	line-height: 48px;
	font-weight: 600;
	font-size: 14px;
	color: rgba(0,0,0,.54);
	padding: 0 24px;
	box-sizing: border-box;
	transition: color .2s ease;
}
body:not(.scrolling) #tester-subheader {
	color: #fff;
}

/* Inputs */
input {
	background: none; 
	outline: none;
	font-size: 16px;
	height: 48px;
	padding: 0;
	margin: 0 8px;
	border: 0;
	border-bottom: 2px solid #e0e0e0;
	transition: border .3s ease;
}
input.error {
	border-bottom: 2px solid #f44336;
}
input:focus {
	border-bottom: 2px solid #037ed3;
}

.longhand > input {
	width: calc(25% - 16px);
	float: left;
}
.shorthand > input {
	width: calc(100% - 16px);
}
#border > .longhand > input,
#border-top > .longhand > input,
#border-right > .longhand > input,
#border-bottom > .longhand > input,
#border-left > .longhand > input,
#list-style > .longhand > input {
	width: calc(33.33% - 16px);
}

/* Tester */
#tester-margin {
	background-color: #F9CC9D;
	overflow: auto;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border-radius: 2px;
}
#tester {
	background: linear-gradient(to bottom, #A0C5E8 0%, #A0C5E8 100%) content-box, linear-gradient(to bottom, #C3DEB7 0%, #C3DEB7 100%) padding-box;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	height: 256px;
	padding: 24px;
	margin: 24px;
	border: 24px solid;
	border-color: #FFEEBC;
}

@media (max-width: 600px) and (orientation: portrait), (max-width: 960px) and (orientation: landscape) {
	body {
		margin: 96px 0 0 0;
	}
	.appbar {
		height: 48px;
		transition: top .2s ease;
	}
	.appbar .appname {
		height: 48px;
		line-height: 48px;
		padding-left: 16px
	}
	.tabs {
		height: 48px;
		top: 48px;
		background: #037ed3;
		box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.14), 0 10px 10px -9px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.4);
		transition: top .2s ease;
	}

	.tabs > .tab {
		width: 33.33%;
		height: 48px;
		line-height: 48px;
		margin: 0;
		float: left;
	}
	body.scrolling .appbar {
		top: -48px;
		transition: top .2s ease;
		box-shadow: none;
	}
	body.scrolling .tabs {
		top: 0;
	}
	.waterfall {
		display: none;
	}
	body:not(.scrolling) #tester-subheader {
		color: rgba(0,0,0,.54);
	}
	.main {
		margin: 0 16px 16px 16px;
	}
	.subheader {
		padding: 0 16px;
	}
	#border > .longhand > input,
	#border-top > .longhand > input,
	#border-right > .longhand > input,
	#border-bottom > .longhand > input,
	#border-left > .longhand > input,
	#list-style > .longhand > input,
	.longhand > input {
		width: calc(50% - 16px);
	}
}
@media (max-width: 600px) {
	#border > .longhand > input,
	#border-top > .longhand > input,
	#border-right > .longhand > input,
	#border-bottom > .longhand > input,
	#border-left > .longhand > input,
	#list-style > .longhand > input,
	.longhand > input {
		width: calc(100% - 16px);
		float: none;
	}
}